<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
wooo good job loggin in
you are user <%= user.cal_id %>
these are the other users:
<select>
<% for(var i=0; i<allUsers.length; i++){ %>
   <option data-value = <%=JSON.stringify(allUsers[i])%> >
   <%= allUsers[i].username %>
   </option>
<% } %>
</select>
<form method="post" action="/users/poll">
<input type="text" name="access_token" id="access_token">
<input type="text" name="refresh_token" id="refresh_token">
<input type="text" name="cal_id" id="cal_id">
<input type="text" name = "currCalId" id="currCalId" value=<%=user.cal_id%> >
<button type="submit"></button>
</form>
<script>
$("select").change(function(){
    var access_token = $(this).find(":selected").data("value").access_token;
    var refresh_token = $(this).find(":selected").data("value").refresh_token;
    var cal_id = $(this).find(":selected").data("value").cal_id;
    console.log(access_token);
    console.log(refresh_token);
    console.log(cal_id);
    localStorage["access_token"] = access_token;
    localStorage["refresh_token"] = refresh_token;
    localStorage["cal_id"] = cal_id;
    $("#access_token").val(access_token);
    $("#refresh_token").val(refresh_token);
    $("#cal_id").val(cal_id);
    //window.location.replace("http://localhost:50000/users/poll");
});

</script>