<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<head>
    <title>Common Times</title>
    <style>
      * { margin: 0; padding: 0;  }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 30%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
    </style>
</head>
<ul class = "list-group">
<% for(var i=0; i<times.length; i++){ %>
  <% var resultObject = times[i]; %>
   <li class="list-group-item"> start <%=resultObject["start"]%> end <%= resultObject["end"] %></li>
<% } %>
</ul>
<br>
<!--send it to this person!!!!!! <%= toUser %>-->
<input type = "hidden" id="sendTo" value = <%= toUser %> ></input>
<input type="hidden" id = "username" value= <%= messageUser %> ></input>
<div id="calendarTime"></div>
<div id="calendarTime2"></div>
<body>
    <ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
  </body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script>


var access_token = localStorage.getItem("access_token");
var refresh_token = localStorage.getItem("refresh_token");
var cal_id = localStorage.getItem("cal_id");

//window.location.replace("https://api.cronofy.com/v1/calendars");
$(function () {
  var socket = io();
  var messageUser = $("#username").val();
  var sendToUser = $("#sendTo").val();
      socket.emit("messageUser", messageUser);
      console.log("emmited username");
      socket.emit("toMessage", sendToUser);
      console.log("emmited username");
    $('form').submit(function(){
      socket.emit('chat message', $('#m').val());
      $('#m').val('');
      return false;
    });
    socket.on('chat message', function(msg){
      $('#messages').append($('<li>').text(msg));
    });
    socket.on('getUser', function(blah){
      socket.emit("disconnectUser", "hiimdisconnecting");
    });

  });
</script>
